body {
 font-family: "Roboto", sans-serif;
 margin: 0;
 padding: 0;
 color: #333;
 background-color: #0a1326;
 transition: background-color 0.3s, color 0.3s;
}

header {
 background-color: #0a1326;
 color: #fff;
 padding: 10px 20px;
}

.header-content {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

header h1 {
 margin: 0;
 font-size: 24px;
 font-family: "Open Sans", sans-serif;
}

header nav ul {
 list-style: none;
 padding: 0;
 display: flex;
 gap: 15px;
}

header nav ul li {
 display: inline;
}

header nav ul li a {
 color: #fff;
 text-decoration: none;
}

.language-switcher {
 display: flex;
 gap: 10px;
 align-items: center;
}

.language-switcher img {
 width: 20px;
 height: 20px;
 margin-right: 5px;
}

.language-switcher a {
 color: #fff;
 text-decoration: none;
}

.theme-switch-wrapper {
 display: flex;
 align-items: center;
 gap: 10px; /* Adicione um espaçamento entre o ícone de lua e o switch */
}

.theme-switch {
 display: inline-block;
 height: 24px;
 position: relative;
 width: 50px;
}

.theme-switch input {
 display: none;
}

.slider {
 background-color: #ccc;
 bottom: 0;
 cursor: pointer;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 transition: 0.4s;
}

.slider:before {
 background-color: white;
 bottom: 4px;
 content: "";
 height: 16px;
 left: 4px;
 position: absolute;
 transition: 0.4s;
 width: 16px;
}

input:checked + .slider {
 background-color: #66bb6a;
}

input:checked + .slider:before {
 transform: translateX(26px);
}

.slider.round {
 border-radius: 24px;
}

.slider.round:before {
 border-radius: 50%;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: url("../assets/img/background.jpg") no-repeat center center/cover;
 color: #fff;
 text-align: center;
}

.intro {
 max-width: 600px;
 background-color: rgba(0, 0, 0, 0.5);
 padding: 20px;
 border-radius: 10px;
}

.profile-picture {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 margin-bottom: 20px;
}

.intro h2 {
 margin-top: 0;
}

.social-links img {
 width: 24px;
 height: 24px;
 margin: 0 10px;
}
