body {
 font-family: "Roboto", sans-serif;
 color: #333;
 background-color: #0a1326;
 transition: background-color 0.3s, color 0.3s;
 scroll-behavior: smooth;
 overflow: hidden;
}

html {
 height: 100%;
}

header {
 background-color: #0a1326;
 color: #fff;
 padding: 10px;
 position: fixed;
 width: 100%;
 top: 0;
}

.header-content {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

header h1 {
 font-size: 24px;
 font-family: "Open Sans", sans-serif;
}

header nav ul {
 list-style: none;
 display: flex;
 gap: 20px;
}

header nav ul li a {
 flex: 1;
 color: #fff;
 text-decoration: none;
}

.language-switcher {
 margin-right: 40px;
 margin-left: 20px;
}

.projects-content {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.project-item {
 position: relative;
 flex: 1 1 calc(50% - 20px);
 box-sizing: border-box;
 margin-bottom: 30px;
}

.projects-content img {
 width: 600px;
 height: auto;
 margin: 0 auto;
 display: block;
}

.repositorys-links {
 display: auto;
 margin-bottom: 20px;
}

section {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 text-align: center;
 background: url("../assets/img/background.jpg") no-repeat center center/cover;
 background-size: cover;
 color: #fff;
}

.intro {
 display: block;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 70%;
 max-width: 800px;
 height: 60%;
 max-height: 600px;
 background-color: rgba(0, 0, 0, 0.5);
 padding: 20px;
 border-radius: 10px;
 text-align: center;
 overflow: auto;
 margin-top: 100px;
}

.overlay-button {
 position: absolute;
 bottom: 0px;
 left: 0;
 width: 100%;
 padding: 40px 0;
 background-color: rgba(128, 128, 128, 0.7);
 color: white;
 text-decoration: none;
 font-size: 16px;
 text-align: center;
 display: none;
}

.project-container:hover .overlay-button {
 display: block;
}

.profile-picture img {
 width: 200px;
 height: 200px;
 border-radius: 50%;
 margin-bottom: 20px;
}

.intro h2 {
 font-size: 32px;
}

.intro p {
 font-size: 20px;
}

.social-links {
 display: flex;
 justify-content: center;
 gap: 15px;
}

.social-links img {
 width: 24px;
 height: 24px;
 margin: 0 10px;
}

::-webkit-scrollbar {
 width: 15px;
}

::-webkit-scrollbar-track {
 background: transparent;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 background-color: #0a1326;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: gray;
}

@media (max-width: 600px) {
 .projects-content img {
  width: 100%;
  max-width: 250px;
  height: auto;
 }

 .intro {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 550px;
 }

 header nav ul {
  gap: 8px;
  list-style: none;
 }

 .language-switcher {
  margin-left: 40px;
  margin-right: 10px;
 }

 .language-switcher img {
  width: 20px;
  height: 15px;
 }
}
