body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #0a1326;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

header {
    background-color: #0a1326;
    color: #fff;
    padding: 16px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    padding: 0px 15px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.language-switcher {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    gap: 10px;
}

.language-switcher a {
    color: #fff;
    text-decoration: none;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 10px;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: white;
    bottom: 2px;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    width: 20px;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

main {
    margin-top: 80px; /* Adiciona espaço para o cabeçalho fixo */
}

section {
    min-height: 100vh; /* Cada seção ocupa 100% da altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background: url("../assets/img/background.jpg") no-repeat center center/cover;
    background-size: cover;
    color: #fff;
    margin-top: 20px; /* Adiciona espaçamento entre as seções */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: auto; /* Habilita rolagem se o conteúdo exceder a altura máxima */
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.intro h2 {
    margin-top: 0;
    font-size: 32px;
}

.intro p {
    font-size: 18px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
